
body {
	font-family: 'freight-sans-pro', sans-serif;
	background: #fff;
	color: #888;
	line-height: 1.4;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'freight-sans-pro', sans-serif;
}

a {
	color:#3154a5;
}

a:hover {
	color: #aaa;

}

.all-caps {
	text-transform: uppercase;
	letter-spacing: 0.8rem;
}

.hero {
		background: url("../img/hero-top.jpg") center;
	background-size: cover;
	height:auto;
	color: #fff;
}

.hero h1 {
	font-size: 5rem;
	text-align: center;
	margin: 13rem 0 18rem;
	color:#fff;
}

.logo {
	text-align: center;
	margin: 5rem;
}

.logo span {
	font-size: 2rem;
}

.logo svg {
	width: 110px;
	fill: #fff;
}

section {
	text-align: center;
	position: relative;
	background-attachment: fixed;
	overflow: hidden;
}

.contents {
	padding: 5rem 0 ;
}

.contents p {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 2.4rem;
	width: 32rem;
	margin: 5rem auto 2rem;
	max-width: 80%;
}

.contents p.team-photo {
	max-width: 100%;
	margin: 2rem auto 3rem;
	width: 1000px;
} 

.tech {
	margin: 0 !important;
}

.tech img {
	width: 25%;
	margin: 0 3% 0;
	min-width: 200px;
}

.work-environment {
	background: url("../img/work-environment-bg.png") center;
	background-size: cover;
	color: #fff;
	padding-bottom: 0;
}

.work-environment h1 {
	color: #fff;
}

.work-environment h2 {
	color: #fff;
	font-size: 18px;
}

.work-environment-details .columns {
	height: 180px;
}

.team {
	background: url("../img/bg-3.jpg") center;
	background-size:cover;
	color: #fff;
}

.team p {
	color: #666;
}

.learn-more {
	background: url("../img/learn-more-bg.png") center;
	background-size: cover;
	color: #fff;
}

.learn-more h1 {
	color: #fff;
}

.learn-more h2 {
	font-size: 16px;
	color: #fff;
}

.learn-more p {
	font-size: 16px;
	margin: 0 auto;
	line-height: 1.6rem;
	height: 3.2rem;
	color: #C8C8C8;
}

.learn-more .img {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.learn-more .img.life-blog {
	background-image: url("../img/life-blog.png");
}

.learn-more .img.cats-fbpage {
	background-image: url("../img/cats-fbpage.png");
}

.learn-more .img.github {
	background-image: url("../img/github.png");
}

.apply {
	background: #3154a5;
	color: #fff;
	padding-bottom: 120px;
}

.apply h1 {
	color: #fff;
	margin-bottom: 40px
}

.btn {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
	padding: 8px 14px 8px 18px;
	display: inline-block;
}

.btn:hover {
	background: rgba(255,255,255,0.3);
}

.grey {
	background: #e8e8e8;
}

.why-join-us .columns {
	margin: 20px 0;
}

.why-join-us h1 {
	color: #3154A5;
}

.why-join-us h2 {
	font-size: 22px;
	color: #4A4A4A;
	margin: 20px 0 10px;
}

.why-join-us span {
	font-size: 16px;
	color: #4A4A4A;
}

.why-join-us .img {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.why-join-us .img.grow-skills {
	background-image: url("../img/grow-skills.png");
}

.why-join-us .img.award-app {
	background-image: url("../img/award-app.png");
}

.why-join-us .img.opensource-pj {
	background-image: url("../img/opensource-pj.png");
}

.why-join-us .img.international {
	background-image: url("../img/international.png");
}

.why-join-us .img.build-products {
	background-image: url("../img/build-products.png");
}

.why-join-us .img.geeks {
	width: 190px;
	height: 136px;
	background-image: url("../img/geeks.png");
}

.dev-community-products {
	padding: 20px 0 30px;
}
